[submodule "modules/elf-address-to-label"]
	path = modules/elf-address-to-label
	url = https://github.com/ProgrammableMatter/elf-address-to-label.git
[submodule "modules/network-visualization"]
	path = modules/network-visualization
	url = https://github.com/ProgrammableMatter/network-visualization.git
[submodule "modules/cstruct-to-json"]
	path = modules/cstruct-to-json
	url = https://github.com/ProgrammableMatter/cstruct-to-json.git
